<%= form_tag charges_path do %>
  <article>
  <label class="amount">
    <span>Amount: $5.00</span>
  </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month's subscription"
    data-amount="500"></script>
<% end %>
